*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    height: 50px;
}
  .child {
    color: rgb(110, 101, 101);
  }
  .child1 {
    text-align: center;
   
  }
  #child-x4 {
    display: flex;
    gap: 20px;
    margin: 40px;
  }




  #container1 {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 550px;
    width: 1600px;
    
  }
  .child-s1{
    grid-column: span 2;
  }
  .child-s2 {
    background-color: rgb(2, 9, 44);
    text-align: left;
    grid-column: span 1;
    grid-row: span 2;
    padding: 15px;
    width: 400px;
    height: 450px;
  }
  .child-s4 {
   
    text-align: left;
  }
  #container2 {
    margin-top: 50px;
    
    display: flex;
    justify-content: space-between;
    
    text-align: center;
    gap: 3px;
    height: 200px;
  }
  .child2 {
    display: flex;
  
    justify-content: space-evenly;
    text-align: left;
  }



  .details{
    margin-top: 35px;
  }
  #button{
    background-color: rgba(238, 44, 10, 0.849);  
    width: 130px;
    height: 25px;
    padding: 15px;
    font-size: 19px;
    letter-spacing: 1px;
    color: rgb(29, 29, 29);
    margin-left: 15px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #big{
    font-size: 60px;
  }

  #img1 {
    width: 150px;
    height: 200px;
  }
  .details1{
    margin: 10px;
    width: 360px;
    height: 400px;
  }





  #img2 {
    width: 1500px;
    height: 320px;
    object-fit: cover;
  }
  .Newstitle{
    color: white;
    font-size: 25px;
  }
  .Newsdetails{
    color: rgba(145, 141, 140, 0.808);
    font-size: 20px;
    margin: 15px;
  }
  #newst{
    color: rgb(201, 158, 19);
    font-size: 35px;
  }
  #image3{
    width: 32px;
    height: 32px;
  }
  #child-x1{
    margin: 15px;
  }